.main {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.outerdiv {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-150%, -50%);
  width: 400px;
  height: 500px;
  background: linear-gradient(to right, #5383c3, #2b5d9e);
  text-align: center;
  border-radius: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  gap: 50px;
}

.input {
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;

  padding-left: 10px;
  font-size: medium;
}

.input::-webkit-input-placeholder {
  color: darkgray;
  font-style: italic;
  padding-left: 10px;
  font-size: medium;
}

.display {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 500px;
  background-color: antiquewhite;
  transform: translate(0%, -50%);
  border-radius: 25px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.display::-webkit-scrollbar {
  width: 0.2em;
  background-color: #f5f5f5;
}

.display::-webkit-scrollbar-thumb {
  background-color: 555555;
  border-radius: 1px;
}

.display::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}
